/*TITULO PRINCIPAL*/
.c1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 53, 205);
}

a:hover {
    background-color: rgb(255, 53, 205);

}
/*TAMAÑO DEL LOGO COLIBRI*/
.logo-m img {
    width: 50px;
    height: 50px;
    
}