/**********************MAIN de CONTACTO *************/
.main-c{
   
    margin: 160px auto 0 auto;
    max-width: 1200px;
}

// PUSE FLEX EL MAIN DE LA PAGINA CONTACTO
.main-c{
    display: flex;
    padding: 100px;
}